<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{% block title %}JM's Folio{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="folio.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>JM's Folio</h1>
      <h2>Lorem ipsum dolor sit amet</h2>
    </div>
    <div class="content clearfix">
      <div class="main">
        <div class="inner">
{% block body %}{% endblock %}
        </div>
      </div>
      <div class="sidebar">
        <h4>Topics</h4>
        <ul>
          <li>
            <a href="#">Travels
              <small>Histories in foreign countries</small>
            </a>
          </li>
          <li>
            <a href="#">Programming
              <small>Small victories over a giant turtle</small>
            </a>
          </li>
        </ul>
        <h4>About the Author</h4>
        <ul>
          <li>
            <a href="index.html">
              Breve descripción de mi persona.
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>